/**************************___MAIN_WINDOW_LIST___**************************/

.main__window__list {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: var(--offset-s);
}

.main__window__list .main__window__section {
  width: 100%;
  border: none;
}

.main__window__list .section__header {
  text-align: start;
  padding-left: var(--offset-l);
  background-color: var(--primary-color-light-1);
  border-radius: var(--offset-xxs);
  position: relative;
  cursor: pointer;
}

.main__window__list .section__header::before,
.main__window__list .section__header::after {
  content: "";
  display: block;
  height: var(--offset-l);
  border-right: calc(3 * var(--border-width)) solid var(--dark-grey-color);
  position: absolute;
  top: 35%;
  right: var(--offset-xxxl);
  transform-origin: bottom center;
  pointer-events: none;
  transition: var(--transition-time);
}

.main__window__list .section__header::before {
  rotate: 45deg;
}

.main__window__list .section__header::after {
  rotate: -45deg;
}

.main__window__list .section__header__active::before,
.main__window__list .section__header__active::after {
  height: var(--offset-xl);
  transform-origin: center;
}

.main__window__list .tasks__container {
  padding: 0;
  transform-origin: top;
  transition: var(--transition-time);
  opacity: 0;
  display: none;
  max-height: fit-content;
}

.main__window__list .section__header__active + .tasks__container {
  display: flex;
  padding: var(--offset-m) var(--offset-l) 0 var(--offset-l);
  opacity: 1;
  height: fit-content;
}

.main__window__list .task {
  display: flex;
  flex-direction: row;
  gap: var(--offset-l);
  position: relative;
  justify-content: space-between;
  position: relative;
}

.main__window__list .task__additional__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.main__window__list .task__additional__info > * {
  position: absolute;
  width: fit-content;
  padding: var(--offset-s) var(--offset-m);
}

.main__window__list .task__additional__info .task__priority {
  top: 0;
  left: 0;
}

.main__window__list .task__additional__info .task__date {
  top: 0;
  right: 0;
}

.main__window__list .task__additional__info .task__privacy {
  bottom: 0;
  left: 0;
}

.main__window__list .task__additional__info .task__comments {
  bottom: 0;
  right: 0;
}

.main__window__list .line {
  display: none;
}

.main__window__list .task__bottom {
  justify-content: center;
  align-items: center;
  gap: var(--offset-xxs);
  word-break: normal;
}

.main__window__list .task__bottom .standart__button {
  height: fit-content;
  display: flex;
  gap: var(--offset-xxs);
}
