.modal {
    background-color: var(--primary-color-dark-1);
    width: fit-content;
    padding: var(--offset-m);
    border-radius: var(--offset-xxs);
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 3;
    border: var(--border-width) solid var(--primary-color-light-2);
    width: 25rem;
}

.modal__header {
    font: var(--title-font-xl);
    color: var(--white-color);
    text-align: center;
}

.modal__buttons {
    display: flex;
    gap: var(--offset-s);
    justify-content: space-around;
    
}

.modal__buttons button {
    font: var(--title-font-s);
}