/**************************___SIGN_IN/SIGN_UP___**************************/

.sign__in__up {
  width: fit-content;
}

.sign__form {
  padding: var(--offset-xxxl);
  max-width: 27rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--offset-l);
}

.sign__form .input__block__name,
.sign__form .standart__button {
  font: var(--title-font-m);
}

.sign__form__header {
  margin: 0;
  padding-bottom: var(--offset-m);
  font: var(--title-font-xl);
  text-align: center;
  border-bottom: var(--border-width) dotted var(--dark-grey-color);
}
