:root {
  --white-color: #ffffff;
  --black-color: #333333;
  --grey-color: #f3f3f3;
  --dark-grey-color: #999999;

  --primary-color-dark-1: #0b0c0e;
  --primary-color: #181a20;
  --primary-color-light-1: #2e2e2e;
  --primary-color-light-2: #5e5e5e;

  /* --secondary-color: #545ead; 

    May be I'll add secondary color and change the color
  of some blocks, but for now only primary

  */

  --confirm-button-color: #147dfa;
  --low-priority-color: #00ad11;
  --medium-priority-color: #d68d00;
  --high-priority-color: #c60000;

  --primary-font-style: "DM Sans", sans-serif;

  --logo-font-m: 700 3rem var(--primary-font-style);
  --title-font-xl: 700 2rem var(--primary-font-style);
  --title-font-l: 700 1.75rem var(--primary-font-style);
  --title-font-m: 700 1.5rem var(--primary-font-style);
  --title-font-s: 700 1.25rem var(--primary-font-style);
  --text-font-l: 400 1.125rem var(--primary-font-style);
  --text-font-m: 400 1rem var(--primary-font-style);
  --text-font-s: 400 0.875rem var(--primary-font-style);

  --offset-xxxxl: 3rem;
  --offset-xxxl: 2.5rem;
  --offset-xxl: 2rem;
  --offset-xl: 1.5rem;
  --offset-l: 1.25rem;
  --offset-m: 1rem;
  --offset-s: 0.75rem;
  --offset-xs: 0.5rem;
  --offset-xxs: 0.25rem;   

  --border-width: 0.0625rem;

  --logo-size: 4rem;
  --avatar-size: 4.5rem;
}

html {
  font-size: calc(12px + 6 * ((100vw - 370px)/(1440 - 370)));
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font: var(--text-font-m);
  color: var(--white-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 0 var(--offset-l);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: var(--offset-xxs);
}

::-webkit-scrollbar-track {
  border-radius: var(--offset-s);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-grey-color);
  border-radius: var(--offset-s);
}

/**************************___ADDITIONAL___**************************/

.low__prioprity {
  color: var(--low-priority-color);
}

.medium__prioprity {
  color: var(--medium-priority-color);
}

.high__prioprity {
  color: var(--high-priority-color);
}

.edit__button:hover {
  transform: scale(1.07);
  background-color: var(--dark-grey-color);
}

.neutral__button:hover {
  background-color: var(--primary-color);
  transform: scale(1.07);
}

.delete__button:hover {
  background-color: var(--high-priority-color);
  transform: scale(1.07);
}

.add__button:hover {
  transform: scale(1.07);
  background-color: var(--low-priority-color);
}

.invert__button:hover {
  color: var(--black-color);
  background-color: var(--white-color);
  transform: scale(1.07);
}

.standart__button {
  padding: var(--offset-s) var(--offset-l);
  border-radius: var(--offset-xxs);
  border: var(--border-width) dotted var(--dark-grey-color);
  background: none;
  color: var(--white-color);
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  font: var(--text-font-s);
}

.clickable__element {
  cursor: pointer;
  transition: 0.5s;
}

.inactive__element {
  opacity: 0.6;
  pointer-events: none;
}

.dangerous__icon:hover {
  transform: scale(1.07);
  color: var(--high-priority-color);
}

.neutral__icon:hover {
  transform: scale(1.07);
  color: var(--low-priority-color);
}

.friendly__icon:hover {
  transform: scale(1.07);
  color: var(--low-priority-color);
}

.disabled__element {
  display: none;
}

.scrollable__element {
  overflow-y: hidden;
  padding-right: var(--offset-xs);
  padding-left: var(--offset-xxs);
}

.scrollable__element:hover {
  overflow-y: scroll;
  padding-right: var(--offset-xxs);
}

.line {
  opacity: 0.5;
  width: 100%;
}

/***************___INPUT_BLOCK___***************/

.input__block {
  display: flex;
  flex-direction: column;
}

.input__block__name {
  text-align: center;
  font: var(--text-font-l);
  margin: 0;
  margin-bottom: var(--offset-xxs);
}

.input__block__body {
  font: var(--text-font-m);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--offset-s);
  flex-wrap: wrap;
}

.help__message {
  font: var(--text-font-s);
  color: var(--dark-grey-color);
}

/***********__INPUT__***********/

.input__block__input {
  padding: var(--offset-xxs) var(--offset-s);
  border-radius: var(--offset-xxs);
  border: none;
  font: var(--text-font-m);
  outline: none;
  width: 100%;
}

.input__block__input::-webkit-calendar-picker-indicator {
  /* display: none; */
}

/***********__TEXTAREA__***********/

.input__block__textarea {
  text-align: start;
  height: calc(2*var(--offset-xxxl));
  resize: none;
}

/***********__CHECKBOX/RADIO__***********/

.input__block__checkbox,
.input__block__radio {
  padding: var(--offset-xs) var(--offset-m);
  border: var(--border-width) dotted var(--grey-color);
  border-radius: var(--offset-xxs);
  display: block;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.input__block__checkbox .input__block__input {
  display: none;
}

.input__block__radio .input__block__input {
  display: none;
}

.input__block__checkbox:hover,
.input__block__radio:hover {
  color: var(--black-color);
  background-color: var(--white-color);
  transform: scale(1.07);
}

/***********__SELECT__***********/

.input__block__select {
  appearance: none;
  font: var(--text-font-m);
  text-align: center;
}

.input__block__select::-ms-expand {
  display: none;
}

.input__block__option {
  font: var(--text-font-s);
  text-align: left;
  background-color: var(--grey-color);
  text-align: center;
}
.input__block__option:hover {
  background-color: var(--grey-color);
}

/***********__File__***********/

.file__input input {
  display: none;
}

.file__input {
  text-align: center;
}

/**************************___HEADER___**************************/

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--offset-l);
}
.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--offset-xxl);
}
.logo {
  width: var(--logo-size);
}
.app__name {
  font: var(--logo-font-m);
}
.user__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--offset-s);
  font: var(--title-font-l);
}
.username {
  display: flex;
  gap: var(--offset-m);
  justify-content: center;
  align-items: center;
}
.user__avatar {
  width: var(--avatar-size);
}

/**************************___MAIN___**************************/

.main {
  border-radius: var(--offset-xxs);
  overflow: hidden;
  background-color: var(--primary-color-dark-1);
  margin: auto;
  height: fit-content;
}

/*********************___FILTERS___*********************/

.filters {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: var(--offset-xl) var(--offset-m);
  gap: var(--offset-l);
}

.filters__part {
  display: flex;
  justify-content: space-between;
  gap: var(--offset-xxs);
  flex-grow: 1;
}

.filters__part .input__block {
  flex-grow: 1;
}

#inner_text_filter .input__block__body {
  display: block;
}

.filters .input__block__radio {
  margin-top: var(--offset-s);
}

.input__block[id="data_filter"] .input__block__input {
  text-align: center;
  width: fit-content;
}

.input__block[id="type_of_page_filter"] {
  justify-content: center;
}

/***********__ADDITIONAL__***********/

.active__input {
  color: var(--black-color);
  background-color: var(--white-color);
  transform: scale(1.07);
}

/*********************___APP___*********************/

.app__table {
  width: 100%;
  overflow: hidden;
  display: flex;
}

/***********__MAIN_WINDOW__***********/

.main__window {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--offset-xl);
  border-top: calc(2 * var(--border-width)) dotted var(--primary-color-light-2);
  border-right: calc(2 * var(--border-width)) dotted var(--primary-color-light-2);
}

.main__window__section {
  width: 33%;
  padding: var(--offset-l);
  padding-top: var(--offset-xxs);
  border-left: var(--border-width) dotted var(--primary-color-light-1);
}

.main__window__section:first-of-type {
  border: none;
}

.section__header {
  font: var(--title-font-m);
  text-align: center;
  padding: var(--offset-l);
  margin: 0;
}

.tasks__container {
  display: flex;
  flex-direction: column;
  gap: var(--offset-m);
  max-height: 60rem;
}

.tasks__container > button {
  margin-bottom: var(--offset-s);
}

.tasks__container > button:hover {
  margin: 0 var(--offset-xxl) var(--offset-s) var(--offset-xxl);
}

/***********__TASK__***********/

.task {
  padding: var(--offset-m);
  background-color: var(--primary-color);
  border-radius: var(--offset-xxs);
}

.task__additional__info {
  display: flex;
  justify-content: space-between;
}

.task__main {
  display: block;
  padding: var(--offset-l);
}

.task__main__content__item {
  font-weight: 700;
}

.task__main__content__item span {
  color: var(--dark-grey-color);
  font-weight: 400;
}

.task__bottom {
  display: flex;
  justify-content: space-around;
  padding-top: var(--offset-s);
}

.task__date,
.task__comments {
  text-align: right;
}

/***********__ADD_NEW_TASK__***********/

.add__new__task {
  width: 20%;
  padding: var(--offset-l);
  padding-top: var(--offset-xxs);
  border-top: calc(2 * var(--border-width)) dotted var(--primary-color-light-2);
  height: 100%;
  position: relative;
}

.task__form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--offset-l);
}

.task__form__part {
  display: flex;
  flex-direction: column;
  gap: var(--offset-l);
}

.form__buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--offset-s);
}

.form__buttons * {
  /* font: var(--title-font-small); */
  /* font-weight: 400; */
  flex-grow: 1;
}

/**************************___FOOTER___**************************/

.footer {
  display: flex;
  justify-content: space-between;
  color: var(--dark-grey-color);
  font: var(--text-font-s);
  padding: var(--offset-xxxxl) 0 var(--offset-l) 0;
}

/**************************___MAIN_WINDOW_LIST___**************************/

.main__window__list {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: var(--offset-s);
  max-height: 60rem;
}

.main__window__section__list {
  width: 100%;
  border: none;
}

.section__header__list {
  text-align: start;
  padding-left: var(--offset-l);
  background-color: var(--primary-color-light-1);
  border-radius: var(--offset-xxs);
  position: relative;
  cursor: pointer;
}

.section__header__list::before,
.section__header__list::after {
  content: "";
  display: block;
  height: var(--offset-l);
  border-right: calc(3 * var(--border-width)) solid var(--dark-grey-color);
  position: absolute;
  top: 35%;
  right: var(--offset-xxxl);
  transform-origin: bottom center;
  pointer-events: none;
  transition: 0.5s;
}

.section__header__list::before {
  rotate: 45deg;
}

.section__header__list::after {
  rotate: -45deg;
}

.section__header__list__active::before,
.section__header__list__active::after {
  height: var(--offset-xl);
  transform-origin: center;
}

.tasks__container__list {
  padding: 0;
  transform-origin: top;
  transition: 0.5s;
  opacity: 0;
  display: none;
  max-height: fit-content;
}

.section__header__list__active + .tasks__container__list {
  display: flex;
  padding: var(--offset-m) var(--offset-l) 0 var(--offset-l);
  opacity: 1;
  height: fit-content;
}

.task__list {
  display: flex;
  flex-direction: row;
  gap: var(--offset-l);
  position: relative;
}

.task__additional__info__list {
  display: flex;
  flex-direction: column;
}

.task__additional__info__list > * {
  position: absolute;
  width: fit-content;
  padding: var(--offset-s) var(--offset-m);
}

.task__additional__info__list .task__priority {
  top: 0;
  left: 0;
}

.task__additional__info__list .task__date {
  top: 0;
  right: 0;
}

.task__additional__info__list .task__privacy {
  bottom: 0;
  left: 0;
}

.task__additional__info__list .task__comments {
  bottom: 0;
  right: 0;
}

.line__list {
  display: none;
}

.task__bottom__list {
  justify-content: center;
  align-items: center;
  gap: var(--offset-xxs);
}

.task__bottom__list .standart__button {
  height: fit-content;
  display: flex;
  gap: var(--offset-xxs);
}

/**************************___UNAUTHORIZED___**************************/

.add__new__task__unauthorised__window {
  opacity: 0;
  padding: var(--offset-xxxxl) var(--offset-l);
  background-color: var(--primary-color-light-1);
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  font: var(--title-font-l);
  text-align: center;
  z-index: 1;
}

.unauthorized .add__new__task .task__form {
  opacity: 0.5;
  pointer-events: none;
}

.unauthorized .add__new__task__unauthorised__window {
  opacity: 1;
}

.unauthorized .task .standart__button {
  opacity: 0.6;
  pointer-events: none;
}

.unauthorized .task a {
  pointer-events: none;
}

/**************************___SIGN_IN/SIGN_UP___**************************/

.sign__form {
  padding: var(--offset-xxxl);
  max-width: 25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxl);
}

.sign__form .input__block__name,
.sign__form .standart__button {
  font: var(--title-font-m);
}

.sign__form__header {
  margin: 0;
  padding-bottom: var(--offset-m);
  font: var(--title-font-xl);
  text-align: center;
  border-bottom: var(--border-width) dotted var(--dark-grey-color);
}

/**************************___TASK_PAGE___**************************/

.main__task__page {
  width: 100%;
  display: flex;
  padding: var(--offset-s);
  min-height: 30rem;
  max-height: 55rem;
}

.main__task__page .section__header {
  border-bottom: calc(2 * var(--border-width)) dotted var(--dark-grey-color);
  font: var(--title-font-xl);
}

.detailed__task {
  width: 70%;
  border-right: calc(2 * var(--border-width)) dotted var(--dark-grey-color);
  display: flex;
  flex-direction: column;
}

.main__task__page .task {
  margin: var(--offset-s);
  display: flex;
  flex-direction: column;
  gap: var(--offset-l);
  position: relative;
  flex-grow: 3;
  justify-content: space-between;
}

.main__task__page .task__main__content__item {
  font: var(--text-font-l);
  font-weight: 700;
}

.main__task__page span {
  font-weight: 400;
}

.main__task__page .standart__button {
  font: var(--text-font-l);
  font-weight: 700;
}

.main__task__page .low__prioprity {
  color: var(--low-priority-color);
}

/******__COMMENTS__******/

.comments {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comments__body {
  padding: var(--offset-m);
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);
  flex-grow: 3;
}

.comments__list {
  max-height: 25rem;
}

.comment {
  position: relative;
}

.commentator,
.comment__date {
  font: var(--text-font-s);
  color: var(--primary-color-light-2);
}

.comment__text {
  background-color: var(--primary-color);
  padding: var(--offset-s) var(--offset-l);
  border-radius: 0 var(--offset-s) 0 var(--offset-s);
}

.comment__date {
  display: block;
  width: 100%;
  text-align: right;
}

.add__comment {
  display: flex;
  flex-direction: column;
  gap: var(--offset-s);
}

/**************************___TASK_PAGE_UPDATE___**************************/

.detailed__task__form .input__block {
  flex-direction: row;
  width: fit-content;
  gap: var(--offset-xxl);
  align-items: center;
}

.detailed__task__form .input__block__name {
  margin: 0;
}

.detailed__task__form .help__message {
  position: absolute;
  bottom: calc(-1 * var(--offset-l));
  left: 0;
}

.detailed__task__form .input__block:has(.input__block__textarea) {
  width: 100%;
  align-items: flex-start;
}

.detailed__task__form
  .input__block:has(.input__block__textarea)
  .input__block__body {
  flex-grow: 3;
}

/**************************___USER_PAGE___**************************/

.main__user__page {
  width: 100%;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.main__user__page .section__header {
  border-bottom: calc(2 * var(--border-width)) dotted var(--dark-grey-color);
  font: var(--title-font-xl);
}

.detailed__user {
  display: flex;
  flex-direction: column;
}

.user__image__container,
.user__form {
  display: flex;
  padding: var(--offset-xxxl);
  gap: var(--offset-l);
}

.main__user__page__avatar {
  border-radius: var(--offset-s);
  width: 12.5rem;
  height: 21.25rem;
}

.main__user__page .user {
  margin: var(--offset-s);
  display: flex;
  flex-direction: column;
  gap: var(--offset-l);
  position: relative;
  flex-grow: 3;
  justify-content: space-between;
}

.main__user__page .user__main__content__item {
  font: var(--text-font-l);
  font-weight: 700;
  position: relative;
}

.main__user__page span {
  font-weight: 400;
}

.main__user__page .standart__button {
  font: var(--text-font-l);
  font-weight: 700;
}

.user__bottom {
  display: flex;
  justify-content: space-between;
  gap: var(--offset-s);
  flex-wrap: wrap;
}

.user__bottom > * {
  flex-grow: 1;
}

/**************************___USER_PAGE_UPDATE___**************************/

.user__form .input__block {
  flex-direction: row;
  width: fit-content;
  gap: var(--offset-xxl);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user__form .input__block__name {
  margin: 0;
  flex-grow: 1;
  text-align: right;
}

.user__form .help__message {
  position: absolute;
  bottom: calc(-1 * var(--offset-l));
  left: 0;
}

.user__main__content__item .file__input {
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 14%;
}

.user__form .main__user__page__avatar {
  opacity: 0.5;
}

/**************************___ADAPTIVE___**************************/

@media (max-width: 1440px) {
  
  
}

@media (max-width: 1200px) {
  .input__block__input {
    width: fit-content;
  }

  .filters {
    flex-direction: column;
  }

  .input__block[id="data_filter"] .input__block__body {
    text-align: center;
    flex-direction: column;
    gap: 0;
  }

  .filters__part:first-of-type {
    justify-content: space-between;
    border-bottom: var(--border-width) dotted var(--primary-color);
    padding-bottom: var(--offset-s);
  }

  .filters__part .input__block {
    align-items: center;
    width: 33%;
    justify-content: flex-start;
  }

  .app__table {
    flex-direction: column;
  }

  .add__new__task,
  .main__window {
    width: 100%;
  }

  .main__window {
    border-right: none;
  }

  .tasks__container {
    max-height: 28rem;
  }

  .task__form__part {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .task__form__part .input__block {
    justify-content: space-between;
    align-items: center;
    width: 33%;
  }

  .form__buttons .standart__button {
    flex-grow: 0;
  }

  /***********************************/

  .tasks__container__list {
    max-height: none;
  }

  .main__window__list {
    max-height: 44rem;
  }

  /***********************************/

  
}

@media (max-width: 810px) {
  .username .link {
    display: none;
  }

  .app__name {
    display: none;
  }

  .main__window {
    flex-direction: column;
  }

  .main__window__section {
    width: 100%;
    border-top: var(--border-width) dotted var(--primary-color);
    border-left: none;
  }

  .filters__part {
    flex-direction: column;
  }

  .filters__part .input__block {
    width: 100%;
  }

  .filters__part:first-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  .task__form__part {
    flex-direction: column;
  }

  .task__form__part .input__block {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .form__buttons .standart__button {
    flex-grow: 0;
  }

  /***********************************/

  .task__list {
    flex-direction: column;
    justify-content: center;
  }

  .line__list {
    display: block;
  }

  .task__bottom__list {
    padding: 0;
    padding-bottom: var(--offset-xxl);
  }

  .task__list .task__main {
    padding-bottom: 0;
  }

  /***********************************/

  .user__image__container {
    flex-direction: column;
    justify-content: center;
  }

  .user__main__content__item {
    display: flex;
    justify-content: center;
    gap: var(--offset-s);
  }

  .user__bottom > * {
    flex-grow: 1;
  }
  .user__bottom a .standart__button {
    width: 100%;
  }

  /***********************************/

  .user__form {
    flex-direction: column;
    gap: var(--offset-s);
  }

  .user__form .input__block {
    flex-direction: column;
    gap: var(--offset-xxs);
  }

  .user {
    gap: var(--offset-s);
  }

  .user__form .file__input {
    flex-direction: row;
    top: 40%;
    left: 50%;
    margin-left: calc(-2 * var(--offset-xxl));
  }

  /***********************************/

  .main__task__page {
    flex-direction: column;
    max-height: none;
    min-height: none;
    height: fit-content;
  }
  .detailed__task,
  .comments {
    width: 100%;
    border-right: none;
  }

  .input__block {
    width: fit-content;
    margin: auto;
  }

  .main__task__page .task__bottom {
    gap: var(--offset-xxs);
    flex-wrap: wrap;
  }

  .main__task__page .task__bottom * {
    flex-grow: 1;
  }

  /***********************************/

  .detailed__task__form .input__block {
    margin: 0;
  }

  .detailed__task__form .input__block__name {
    text-align: left;
  }

  .detailed__task__form .input__block__textarea {
    width: 100%;
  }

  .detailed__task__form .task {
    gap: var(--offset-xxl);
  }

  
}

@media (max-width: 420px) {
  .unauthorized .user__container {
    flex-wrap: wrap;
    justify-content: flex-end;
  } 

  .footer {
    flex-direction: column;
    align-items: center;
    gap:var(--offset-s);
  }

  .detailed__task__form .input__block {
    flex-direction: column;
    width: 100%;
    gap: var(--offset-s);
  }

  .detailed__task__form .input__block:has(.input__block__textarea) {
    align-items: center;
  }
}
